{% extends "baselayout.html" %}
{# templates/index.html #}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ data['relativeUrl'] }}css/films.css">
{% endblock %}
{% block content %}
  <section id="bio-list">
    <ul id="filmcards" class="listing">
    {% for myitem in data.events %}
      <li>
          <a href="arr/{{ myitem.AinfoNr }}/"><h3>{{myitem.evTitle}}</h3></a>
          <div class="body">
            <a href="arr/{{myitem.AinfoNr}}/">
              <img src="arr/{{myitem.AinfoNr}}/posterMini.jpg" alt="{{ myitem.ArrKunstner}}"/>
            </a>
          </div>
          <div class="cta">
            {% for starter in myitem.startformat.split(',') %}
              <div class="ctastarter">
                <!--<i class="material-icons">movie</i>index.html?arrnr={{ starter[0] }}-->
                <a href="arr/{{myitem.AinfoNr}}/">{{ starter }}</a>
              </div>
            {% endfor %}
          </div>
      </li>
    {% endfor %}
    </ul>
  </section>
{% endblock content %}
